
.about-me {
  @include container;
  @include clearfix;
  
  margin-top: 5em;
  margin-bottom: 5em;
}

.about-img {
  max-height: 25em;
  border-radius: 50%;

  @media (min-width: 42em) {
    float: left;
    margin-right: 1em;
  }
}

.about-title {
  margin-bottom: .25em;  
}

.about-subtitle {
  margin: .5em 0;
}

@supports (display: grid) {
  .about-me {
    display: grid;
    grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
    grid-column-gap: .5em;
  }

  .about-img {
    grid-column: port / img;
    grid-row: 1 / 2;

    @include mq {
      grid-row: 1 / 4;
    }
  }

  .about-title {
    grid-column: name / port;
    grid-row: 1 / 2;
    align-self: end;
  }

  .about-subtitle,
  .about-text {
    grid-column: port / port;

    @include mq {
      grid-column: img-end / port-end;
    }
  }


  .about-subtitle {
    grid-row: 2 / 3;
  }

  .about-text {
    grid-row: 3 / 4;
  }

